button{
    width: 180px;
    border-radius: 3px;
    background-color: #007bff;
    border: #f8f9fa;
    height: 20px;
}
table{
    box-shadow: 5px 5px 5px black;
    border-radius: 3px;
    
}
label{
    padding: 5px;
}

